---
import Layout from "Layout.astro";
import { Day } from "components/Day";
const res = await fetch(
  "https://github.com/e-jigsaw/s6x-data/raw/main/gen/yearly.json"
);
let json: any = {};
let days: string[] = [];
if (res.ok) {
  json = await res.json();
  days = Object.keys(json).sort();
}
---

<Layout>
  <title slot="after-header">周年日記</title>
  <div class="grid grid-cols-2">
    <div class="mx-auto max-w-2xl mt-4 border-b border-solid border-black">
      {
        days.map((day) => (
          <div
            class="grid h-[20px] border-t border-l border-r border-black"
            style="grid-template-columns: 3rem 1fr"
          >
            <a href={`/pages/${day}`}>
              <div style="line-height: 20px">
                {day.slice(0, 2)}/{day.slice(2)}
              </div>
            </a>
            <Day entry={json[day]} day={day} client:only />
          </div>
        ))
      }
    </div>
    <div id="portal" class="max-w-lg"></div>
  </div>
</Layout>
