---
import { titlePurify } from "lib/titlePurify";
import { parse } from "@progfay/scrapbox-parser";
import Layout from "Layout.astro";
import Render from "components/Render.astro";
const res404 = new Response("", {
  status: 404,
  statusText: "Not Found",
});
const { title } = Astro.params;
if (!title) {
  return res404;
}
const res = await fetch(
  `https://scrapbox.io/api/pages/jigsaw/${titlePurify(
    decodeURIComponent(title)
  )}/text`
);
if (res.status !== 200) {
  return res404;
}
const text = await res.text();
const page = parse(text);
if (!page) {
  return res404;
}
---

<Layout>
  <title slot="after-header">{page[0].type === "title" && page[0].text}</title>
  <div class="max-w-[600px] mx-auto p-2">
    <Render page={page} />
  </div>
</Layout>
