---
import { titlePurify } from "lib/titlePurify";
import { parse } from "@progfay/scrapbox-parser";
import Layout from "Layout.astro";
import Render from "components/Render.astro";
import NotFound from "pages/404.astro";
const { title } = Astro.params;
let page;
if (title) {
  const res = await fetch(
    `https://scrapbox.io/api/pages/jigsaw/${titlePurify(
      decodeURIComponent(title)
    )}/text`
  );
  if (res.status === 200) {
    const text = await res.text();
    page = parse(text);
  }
}
---

{
  page ? (
    <Layout>
      <title slot="after-header">
        {page[0].type === "title" && page[0].text}
      </title>
      <div class="max-w-[600px] mx-auto p-2">
        <Render page={page} />
      </div>
    </Layout>
  ) : (
    <NotFound />
  )
}
