---
import Layout from "Layout.astro";
---

<Layout>
  <div>
    <div>
      <input id="email" />
    </div>
  </div>
  <div>
    <input id="password" type="password" />
  </div>
  <div>
    <button id="btn"> sign in</button>
  </div>
</Layout>
<script>
  import { createClient } from "@supabase/supabase-js";
  const client = createClient(
    import.meta.env.PUBLIC_SUPABASE_URL,
    import.meta.env.PUBLIC_SUPABASE_ANON_KEY
  );
  document.getElementById("btn")?.addEventListener("click", async () => {
    const { data, error } = await client.auth.signInWithPassword({
      email: (document.getElementById("email") as HTMLInputElement).value,
      password: (document.getElementById("password") as HTMLInputElement).value,
    });
    console.log(data, error);
  });
</script>
