<div class="text-center mt-2">
  <form method="get" action="/search">
    <input class="border" name="q" placeholder="Search..." />
    <button type="submit" class="border rounded py-1 px-2">Search</button>
  </form>
</div>
